/* Debug */
* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

/*postcard header */

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	height: 50;
	margin: 0px 0px 0px 0px;
}

/*body of the postcard*/

.postcard-body {
	display: flex;
}

.body-left p:nth-child(1) {
	margin-top: 0px;
}

.body-left p {
	font-size: medium;
}

.body-left,
.body-right {
	padding: 5px 5px 5px 5px;
}

input {
	color: grey;
	border: none;
	border-bottom: 2px solid grey;
}

/* Footer */

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background-color: darkgrey;
	padding: 10px 10px 10px 10px;
}
